<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fbb.balkna.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TrainingSelector"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RunTraining"
            android:label="@string/title_activity_run_training"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowserActivityTry"
            android:label="@string/title_activity_browser_activity_try"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainingSettingsActivity"
            android:label="TrainingSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppearenceSettingsActivity"
            android:label="AppearenceSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagePlugins"
            android:label="@string/title_activity_manage_plugins"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ColorPicker"
            android:label="@string/title_activity_color_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StatisticsTextViewActivity"
            android:label="@string/title_activity_statistics_text_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ShowKnownPlugins"></activity>
    </application>

</manifest>